
doctype html
html
  head
    title Employee List
    link(rel="stylesheet", href="/style.css") 
  body
    h1 Employee List
    
    table
      thead
        tr
          th Name
          th Email
          th Salary
          th Age
          th Level
      tbody
        each val in employees
          tr
            td= val.name
            td= val.email
            td= val.salary
            td= val.age
            td= val.level
